table .btn-cart{
    display: none;
}

table tr{
    position: relative;
}

table tr:hover .btn-cart{
    position: absolute;
    top:10%;
    right: 10px;
    display: block;
}

table tr:hover{
    background-color: yellow;
}
