{% extends 'base.html' %}

{% block nav_items %}
{% if component %}
<li class="nav-item active">
    <a class="nav-link" href="/type/{{ component['type']['id'] }}"><b>{{ component['type']['type'] }}</b></a>
</li>
{% endif %}
{% endblock %}

{% block title %}
{% if component %}
Редактирование компонента
{% else %}
Новый компонент
{% endif %}
{% endblock %}

{% block content_title %}
{% if component %}
Редактирование компонента
{% else %}
Добавить компонент на склад
{% endif %}
{% endblock %}

{% block content %}
<script type=text/javascript>
    document.addEventListener('DOMContentLoaded', function() {
       var types = document.getElementById("types");
       fill_packages(types.value);

       $('.custom-file-input').change(function(event){
            var fileName = event.target.files[0].name;
            if (event.target.nextElementSibling!=null){
                event.target.nextElementSibling.innerText=fileName;
        };
    });
    }, false);

    function fill_packages(typeName) {
        var fleet = document.getElementById("packages");
        var title = "";
        for (var i = 0; i < fleet.length; i++) {
            var txt = fleet.options[i].getAttribute("type");
            if (txt != typeName) {
                fleet.options[i].style.display = 'none';
            } else {
                fleet.options[i].style.display = 'list-item';
                if (title == "") title = fleet.options[i].text;
            }
        };
        fleet.value = title;
    };

    function saveId(id, op) {
        $("#componentId").val(id);
        $("#componentOp").val(op);
    };

    function deleteComponent(id, op, name) {
        saveId(id, op);
        $("#nameComponentForDelete").text(name);
    };

</script>
{% if component %}
{% set designation = component.designation %}
{% set description = component.description %}
{% set address = component.address %}
{% set box = component.box %}
{% set quantity = component.quantity %}
{% set min_amount = component.min_amount %}
{% set datasheet = component.datasheet %}
{% set pk = component.id %}
{% else %}
{% set designation = "" %}
{% set description = "" %}
{% set address = "" %}
{% set box = "" %}
{% set quantity = "" %}
{% set min_amount = "" %}
{% set datasheet = "" %}
{% set pk = 0 %}
{% endif %}
<form method="post" enctype=multipart/form-data>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Тип</span>
        </div>
        <select name="type" id="types" onChange="fill_packages($(this).val())">
            {% for type in types %}
            <option value="{{ type['type'] }}">{{ type['type'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Корпус</span>
        </div>
        <select name="package" id="packages">
            {% for package in packages %}
            <option value="{{ package['package'] }}" type="{{ package['type'] }}">{{ package['package'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Наименование</span>
        </div>
        <input type="text" class="form-control" name="designation" value="{{ designation }}">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Описание</span>
        </div>
        <input type="text" class="form-control" name="description" value="{{ description }}">
    </div>

    {% if component %}
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Datasheet</span>
        </div>
        <input type="text" class="form-control" name="datasheet" value="{{ datasheet }}">
        <button type="button" id="btnUploadFile" class="btn btn-secondary" data-toggle="modal"
                data-target="#uploadFileStoreModal" OnClick="saveId({{ pk }}, 'load');">Upload
        </button>
    </div>
    {% endif %}

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Ячейка</span>
        </div>
        <input type="text" class="form-control" name="address" value="{{ address }}">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">№ Ящика</span>
        </div>
        <input type="text" class="form-control" name="box" value="{{ box }}">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Количество</span>
        </div>
        <input type="text" class="form-control" name="quantity" value="{{ quantity }}">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Минимальный остаток</span>
        </div>
        <input type="text" class="form-control" name="min_amount" value="{{ min_amount }}">
    </div>

    {% if component %}
    <button type="submit" class="btn btn-primary" OnClick="saveId({{ pk }}, 'save');">Сохранить</button>
    <button type="button" id="btnDelete" class="btn btn-secondary" data-toggle="modal"
            data-target="#deleteStoreModal"
            OnClick="deleteComponent({{ component['id'] }}, 'delete', '{{ component['designation'] }}');">
        Удалить
    </button>
    {% else %}
    <button type="submit" class="btn btn-primary">Добавить</button>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="uploadFileStoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadFileModalLabel">Загрузка документа</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile" name="file"/>
                            <label class="custom-file-label" for="inputGroupFile"></label>
                        </div>
                        <div class="input-group-append">
                            <input type="submit" class="btn btn-outline-secondary" value="Upload"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteStoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteStoreModalLabel">Удаление компонента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-outline">
                        <label class="form-label">Подтвердите удаление компонента </label>
                        <label class="form-label" id="nameComponentForDelete"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-primary">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="componentId" id="componentId">
    <input type="hidden" name="componentOp" id="componentOp">
</form>

{% endblock %}
