{% extends 'base.html' %}

{% block title %} Новый компонент {% endblock %}
{% block content_title %} Добавить компонент на склад {% endblock %}
{% block content %}
<script type=text/javascript>
    document.addEventListener('DOMContentLoaded', function() {
       var types = document.getElementById("types");
       fill_packages(types.value);
    }, false);

    function fill_packages(typeName) {
        var fleet = document.getElementById("packages");
        var title = "";
        for (var i = 0; i < fleet.length; i++) {
            var txt = fleet.options[i].getAttribute("type");
            if (txt != typeName) {
                fleet.options[i].style.display = 'none';
            } else {
                fleet.options[i].style.display = 'list-item';
                if (title == "") title = fleet.options[i].text;
            }
        };
        fleet.value = title;
    }
</script>

<form method="post">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Тип</span>
        </div>
        <select name="type" id="types" onChange="fill_packages($(this).val())">
            {% for type in types %}
            <option value="{{ type['type'] }}">{{ type['type'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Корпус</span>
        </div>
        <select name="package" id="packages">
            {% for package in packages %}
            <option value="{{ package['package'] }}" type="{{ package['type'] }}">{{ package['package'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Наименование</span>
        </div>
        <input type="text" class="form-control" name="designation">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Описание</span>
        </div>
        <input type="text" class="form-control" name="description">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Datasheet</span>
        </div>
        <input type="text" class="form-control" name="datasheet">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Ячейка</span>
        </div>
        <input type="text" class="form-control" name="address">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">№ Ящика</span>
        </div>
        <input type="text" class="form-control" name="box">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Количество</span>
        </div>
        <input type="text" class="form-control" name="quantity">
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

{% endblock %}
