{% extends 'base.html' %}

{% block functional %}
<label for="filter">Фильтр:</label>
<input id="filter" type="text" placeholder="Поиск...">
{% endblock %}

{% block title %} {{ type_comp['type'] }} {% endblock %}
{% block content_title %} {{ type_comp['type'] }} {% endblock %}
{% block content %}

<script type=text/javascript>
$(document).ready(function(){
  $("#filter").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("table tr.row-table").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

function saveId(id, op) {
    $("#componentId").val(id);
    $("#componentOp").val(op);
}
</script>

<form method="post">
    <table class="table">
        <tr>
            <th>Наименование</th>
            <th>№ Ящика</th>
            <th>Ячейка</th>
            <th>Кол-во</th>
            <th>Описание</th>
            <th>Корпус</th>
            <th>DataSheet</th>
        </tr>
        {% for component in components %}
        <tr class="row-table">
            <td>{{ component['designation'] }}</td>
            <td>{{ component['box'] }}</td>
            <td>{{ component['address'] }}</td>
            <td>{{ component['quantity'] }}</td>
            <td>{{ component['description'] }}</td>
            <td>{{ component['package'] }}</td>
            <td class="col-2">{{ component['datasheet'] }}</td>
            <td>
                <div class="btn-cart btn-group" role="group" aria-label="Cart action">
                    <button type="button" id="btnDecrement" class="btn btn-secondary" data-toggle="modal"
                            data-target="#decrementStoreModal" OnClick="saveId({{ component['id'] }}, 'dec');">Get
                    </button>
                    <button type="button" id="btnDIncrement" class="btn btn-secondary" data-toggle="modal"
                            data-target="#incrementStoreModal" OnClick="saveId({{ component['id'] }}, 'inc');">Put
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Modal -->
    <div class="modal fade" id="decrementStoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="decrementStoreModalLabel">Списание компонента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="form-outline">
                            <label class="form-label" for="decrementNumber">Количество:</label>
                            <input id="decrementNumber" type="number" class="form-control" size="3" name="numDec" min="1" max="999"
                                   value="1">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Списать</button>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="incrementStoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="incrementStoreModalLabel">Добавление компонента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="form-outline">
                            <label class="form-label" for="incrementNumber">Количество:</label>
                            <input id="incrementNumber" type="number" class="form-control" size="3" name="numInc" min="1" max="999"
                                   value="1">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Добавить</button>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="componentId" id="componentId" >
    <input type="hidden" name="componentOp" id="componentOp" >
</form>

{% endblock %}
