{% extends 'base.html' %}

{% block content_title %} {{ type_comp['type'] }} {% endblock %}
{% block content %}
<script type=text/javascript>
function saveId(id) {
    $("#componentId").val(id);
}
</script>
<form method="post">
    <table class="table">
        <tr>
            <th>Наименование</th>
            <th>№ Ящика</th>
            <th>Ячейка</th>
            <th>Кол-во</th>
            <th>Описание</th>
            <th>Корпус</th>
            <th>DataSheet</th>
        </tr>
        {% for component in components %}
        <tr>
            <td>{{ component['designation'] }}</td>
            <td>{{ component['box'] }}</td>
            <td>{{ component['address'] }}</td>
            <td>{{ component['quantity'] }}</td>
            <td>{{ component['description'] }}</td>
            <td>{{ component['package'] }}</td>
            <td>{{ component['datasheet'] }}</td>
            <td>
                <div class="btn-cart btn-group" role="group" aria-label="Cart action">
                    <button type="button" id="btnDecrement" class="btn btn-secondary" data-toggle="modal"
                            data-target="#decrementStoreModal" OnClick="saveId({{ component['id'] }});">Списать
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Modal -->
    <div class="modal fade" id="decrementStoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="decrementStoreModalLabel">Списание компонента</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="form-outline">
                            <label class="form-label" for="decrementNumber">Количество:</label>
                            <input id="decrementNumber" type="number" class="form-control" size="3" name="num" min="1" max="99"
                                   value="1">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Списать</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="componentId" id="componentId" >
</form>

{% endblock %}
